/* Friday practice page 10-18-2019
I am working from my home computer for this project */
body {
  background-color: black;
  }
nav {
  background-color: lightgray;
}
header {
  background-color: white;
}
img {
  height: 300px;

}
.one {
  background-color: blue;
  margin: 5px;
  width: 90%;
}
.two {
  background-color: lightblue;
  margin: 5px;
  width: 90%;
}
.three {
  background-color: lightgreen;
  width: 90%;
  margin: 5px;
}
